[2017-11-01 20:13] cmeeren opened #2 "Add reference to Hedgehog"
There needs to be a reference to the main Hedgehog library. I don't know what kind of constraints you want on the version number, so I'll leave it to you.

[2017-11-01 20:18] moodmosaic commented on #2
Good catch. It should always be the latest version.

[2017-11-01 20:23] cmeeren commented on #2
Great. Do you want to add it? I'm not used to Paket.

[2017-11-01 20:39] moodmosaic commented on #2
@cmeeren, basically you add the NuGet Package name in `paket.template` and `paket.references` and then let Paket know about it by running `.paket/paket.exe install` which takes care of everything else.

I've just opened #3, so you can also have it as an example. Once it's merged, you can pull the latest from `master` branch, run `./build.sh` and you should be good to go.

[2017-11-01 20:43] moodmosaic commented on #2
@cmeeren, if you're blocked waiting for #3 to be merged, we can go ahead and merge it right away, else we can wait for @jystic first to give it a 👍

[2017-11-01 20:47] cmeeren commented on #2
Yes, I'm blocked by #3, though I'm not in a hurry. :)

[2017-11-02 05:21] #2 closed

[2017-11-02 07:23] cmeeren commented on #2
Could you also add a reference to the test project?

[2017-11-02 07:25] moodmosaic commented on #2
Could you do it as part of one of those forthcoming PRs you have? Otherwise I can do it myself during the day.

[2017-11-02 07:25] cmeeren commented on #2
Sure :)

[2017-11-02 07:30] cmeeren commented on #2
Oh, nevermind - it was already added, I just forgot to rebuild the test project (I'm used to nuget, where VS does a lot automatically for you.)

[2017-11-13 09:08] moodmosaic opened #5 "Include batteries"
See https://github.com/hedgehogqa/fsharp-hedgehog/issues/139

[2017-11-13 10:31] cmeeren opened #9 "Add permutation generators"
It'd be nice with generators that permute existing sequences/lists/strings:

[code]

See the combinators removed in [this commit](https://github.com/hedgehogqa/fsharp-hedgehog/pull/140/commits/dda4bfea67c3f00537d7381de8f1f6657bce8a3f). An open question is how to handle the randomness generation - System.Random might not be the correct choice.

[2017-11-13 11:08] cmeeren opened #11 "Auto-gen implementation"
Making a PR of the auto-generator now. Where do you want it placed? IMHO it should be accessible as `Hedgehog.Gen.auto`, but the implementation is fairly substantial, so I'm wondering if it should be placed in its own file (and if so, how to do that considering that Hedgehog.Gen is already defined in Gen.fs) or if it's okay to have everything in Gen.fs (which might be the only option).

[2017-11-13 11:11] moodmosaic commented on #11
I think, it'll be fine to have this together with all the other generators. No worries about being huge in terms of source lines of code.

[2017-11-13 11:35] #11 closed

[2017-11-14 14:38] moodmosaic opened #14 "Travis CI build issue"
Currently, the build on Travis CI fails at:

[code]

As shown in https://travis-ci.org/hedgehogqa/fsharp-hedgehog-experimental#L1823/.

/cc @jystic

[2017-11-19 18:18] #5 closed

[2017-11-19 18:20] moodmosaic commented on #14
Oh, it seems that the build fails on Travis CI because some files have windows line endings:

[code]

[2017-11-19 19:14] #14 closed

[2017-11-19 19:33] cmeeren opened #19 "Add ability to override custom types in auto-generator"
It would be great if the user could specify overrides for any complex type they desire. For example, say `Customer` is a type that has a field of type `Customer list` (sub-customers of the current customer). This is recursive and (currently) needs a specifically designed generator to avoid stack overflow. Say then that I want to generate an `Order` type which, among other things, contains a `Custo

[2018-01-08 08:01] cmeeren commented on #19
Any thoughts on this?

[2018-01-08 08:50] moodmosaic commented on #19
I apologize for the delay, I've been busy. I'll get back to this soon. /cc @jystic

[2018-01-09 10:39] moodmosaic commented on #19
There should be quite a few ways of doing this, and I think I'm not convinced with any of them:

* Pass a dictionary in the `auto` function, then have it lookup on the dictionary, and if the type is there, use that type from the dictionary
* [F# interfaces](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/interfaces) and [object expressions](https://docs.microsoft.com/en-us/dotnet

[2018-01-09 10:41] moodmosaic commented on #19
I'd start looking for the most type safe approach which immediately excludes the emulation of Haskell typeclasses and the dictionary lookup.

[2018-01-23 16:40] moodmosaic commented on #9
Hmm, we may as well name these `shuffle` and `caseShuffle` after QuickCheck:

[code]

It was added in QuickCheck version [2.8.0](https://hackage.haskell.org/package/QuickCheck-2.8/docs/src/Test-QuickCheck-Gen.html#shuffle) and got further optimized in version [2.8.2](https://github.com/nick8325/quickcheck/commit/6c360c1b594b0243e51bfcd4e2428882570e7a51).

If you want to look at a few ways of imple

[2018-01-23 18:21] cmeeren commented on #9
I agree on naming then `shuffle` and `caseShuffle`.

I did do it using Fisher-Yates in the original commit. But `System.Random` was still used as the random generator. I am unsure if that is acceptable for Hedgehog (I expect not, since there seems to be a fairly elaborate random number thingy in place - if it is in fact unnecessary, we could probably save quite a bit of performance by using System

[2018-01-23 18:27] cmeeren commented on #19
I haven't thought too hard on this, but recursively auto-generating custom types seems inherently un-typesafe to me. How could it be made type-safe? Could you share an example?

[2018-01-23 18:31] moodmosaic commented on #9
I will try to explain the philosophy behind Hedgehog's PRNG tomorrow. It's certainly not a leftover; it's actually better than QuickCheck's if I dare to say so.

(On mobile right now, hence the brevity.)

[2018-01-23 18:35] cmeeren commented on #19
Hmm, I just thought of another way to solve the specific problem of stack overflow when auto-generating recursive types.

We can add a `recursionDepth: int` parameter to the config. An inner `auto` function can get passed a `Map<System.Type, int>` that describes how many times the given type has recursed. When it reaches the recursion depth, no more types are generated (if applicable - e.g. `None`

[2018-01-23 20:02] cmeeren commented on #19
Nearly finished with an implementation of what I described above. Seems to work brilliantly. Will create a PR when I'm done, need to test it thoroughly.

[2018-01-23 20:24] moodmosaic commented on #19
On mobile right now, but looking forward to your PR.

[2018-01-23 21:51] cmeeren opened #22 "Remove unit parameter from auto"
Since `auto<'a>()` has an explicit type parameter, I think it's possible to remove the unit parameter (if it's possible, then IMHO we should do it since it's just unnecessary noise). It compiled fine when I tried it, and all tests completed successfully.

Waiting with PR until after #21 is merged due to conflicts.

[2018-01-24 07:32] moodmosaic commented on #9
Yes, in FsCheck, @kurtschelfthout suggested Fisher-Yates because of that (performance). Look around https://github.com/fscheck/FsCheck/pull/221/commits/a9af0aecd97edb329a08a29b2f713bb8b776555f

[2018-01-24 07:38] moodmosaic commented on #9
If you did it this way, it should be perfectly fine―but instead of using `System.Random` you should use `Gen.integral`.

Internally, Hedgehog uses [SplitMix](http://gee.cs.oswego.edu/dl/papers/oopsla14.pdf) as the PRNG, and while we haven't (yet) run [statistical tests](https://en.wikipedia.org/wiki/Diehard_tests) against it, its behavior is [documented](http://gee.cs.oswego.edu/dl/papers/oopsla14

[2018-01-24 07:40] moodmosaic commented on #22
:+1:

[2018-01-24 07:44] cmeeren commented on #9
I have previously skimmed parts of that paper but it was a bit too technical for me. Could I ask you to briefly explain why Hedgehog can't use System.Random?

Also, I'll create a PR using Gen.integral.

[2018-01-24 07:44] moodmosaic commented on #22
Actually, does it have the same exact type when you remove the `()`?

[2018-01-24 07:50] cmeeren commented on #9
Sorry, I wasn't clear enough: I'll of course use `Gen.integral`, but I was wondering what the reason is for Hedgehog **as a whole** using SplitMix and not System.Random. Especially since I think (based on some *very* cursory testing done a while back) that System.Random could significantly improve performance.

[2018-01-24 07:53] moodmosaic commented on #9
Can you even create arbitrarily large signed integers and 64-bit signed integers with `System.Random`?

[2018-01-24 07:59] cmeeren commented on #9
[Apparently](https://encrypted.google.com/search?hl=en&q=system.random%20bigint), but it's not trivial and there are pitfalls to avoid (e.g. biases, performance). Still, I'd guess that performance for BigInts is not particularly useful for most Hedgehog users (I might be wrong).

[2018-01-24 08:11] cmeeren commented on #22
Type? If you mean signature, then no; it changes from `unit -> Gen<'a>` to just `Gen<'a>`.

[2018-01-24 08:15] cmeeren commented on #22
Just to prove that it works, I tested the following:

[code]

`foo` has type int, but calling `foo` or `foo<_>` generates new values each time. In other words, the function value is not cached when there are type parameters (as it is for completely parameterless functions, i.e. simple values). So this proves my point - the unit parameter is unnecessary noise.

[2018-01-24 12:42] moodmosaic commented on #22
Yes, I see what you mean. Thanks for providing examples. :+1: :rocket:

[2018-01-25 05:35] moodmosaic commented on #9
FWIW, [here](https://github.com/hedgehogqa/haskell-hedgehog/blob/891b67c85d637441e76a0151ac02f1eb63006a05/hedgehog/src/Hedgehog/Internal/Gen.hs#L1502-L1512) is `shuffle` in the Haskell version of Hedgehog.

[2018-01-25 05:37] #9 closed

[2018-01-25 06:29] cmeeren opened #26 "Convert to .NET standard"
We might want to convert this project to .NET Standard too, see https://github.com/hedgehogqa/fsharp-hedgehog/pull/153

[2018-01-25 06:31] cmeeren opened #27 "Paket.Restore.targets - check in or add to .gitignore"
I have an untracked file `.paket\Paket.Restore.targets`. We should either check this in or add it to .gitignore (I messed up #24 because of it).

[2018-01-25 06:33] cmeeren commented on #27
According to https://github.com/fsprojects/Paket/issues/2840 (see recent title change) it seems it should be checked in.

[2018-01-25 06:34] moodmosaic commented on #26
Absolutely.

[2018-01-25 06:35] moodmosaic commented on #27
Let's follow the official instructions, then. :)

[2018-01-25 06:36] cmeeren commented on #27
Sure. (Note I haven't delved into the discussion or any reasons why.)

[2018-01-25 06:40] cmeeren commented on #26
I don't really know what's needed. I suggest you or perhaps @Porges do it after https://github.com/hedgehogqa/fsharp-hedgehog/pull/153 is merged.

[2018-01-25 06:41] #22 closed

[2018-01-25 06:41] #27 closed

[2018-01-25 06:56] moodmosaic commented on #26
Yes, that sounds like a plan.

[2018-02-04 10:05] cmeeren commented on #26
Is this the only thing blocking release on nuget? Any chance of getting it done (or releasing on nuget as is)?

[2018-02-04 10:44] cmeeren commented on #26
Sure, go ahead :-)

[2018-02-08 05:20] moodmosaic commented on #26
Getting the latest from `master` and running `build.sd` currently fails, so it stops me from publishing on NuGet Gallery:

[code]

[2018-02-08 07:01] cmeeren commented on #26
Build works fine in VS, but when I try `build.cmd` and `build.sh` it fails with another error than the one you give above.

Is there any good reason why we have to build this way? Or use FAKE at all? I've never used Travis for .NET projects, but doesn't Travis support simply building a solution using MSBuild?

[2018-02-08 07:02] cmeeren commented on #26
Also, if we change to .NET Standard, you can automatically create nuget packages when building (with MSBuild), so I think it should be very easy to publish.

[2018-02-08 07:10] moodmosaic commented on #26
Yes, perhaps we should wait for that first. We are almost about to merge the branch for .NET Standard.

[2018-02-19 14:16] moodmosaic opened #30 "Transfer ownership to @cmeeren"
Given that

* @cmeeren has done most (if not *all*) of the hard work on fsharp-hedgehog-experimental
* my spare time is *extremely* limited when it comes to maintaining fsharp-hedgehog-experimental

I suggest that we

* transfer fsharp-hedgehog-experimental to @cmeeren 🎉 🚀

**Advantages**

Transferring this repository to @cmeeren can make it move a little bit faster, as right now the issues and th

[2018-02-19 14:21] cmeeren commented on #30
Thanks for the confidence! My time too is severely limited, so I will need to give this some careful thought. If the repo gets too much activity, I won't be able to handle it well (in other words, the situation in which you currently find yourself).

[2018-02-19 14:25] moodmosaic commented on #30
Well, it's also going to be up to you how much activity you want (depending on how much you talk about this on Twitter, blog posts, etcetera).

Right now it's almost exclusive *you* 🚀, so at least you should be able to move it fast to the direction you wish ❤️

[2018-02-19 14:34] cmeeren commented on #30
Certainly. From a community standpoint, the goal should IMHO always be too much activity 😅 Though someone else would have to arrange for publicity, because I don't use Twitter actively and don't have much reach on my personal blog.

In any case, I'd be more comfortable if CI/CD was set up and we had a Nuget package out.

What are your thoughts on the build pipeline? I've basically only ever used p

[2018-02-19 14:38] moodmosaic commented on #30
You can get rid of `build.fsx` and just use `dotnet` as @porges did in https://github.com/hedgehogqa/fsharp-hedgehog/pull/153 for .NET Standard.

[2018-02-19 14:40] moodmosaic commented on #30
You can of course setup Travis CI, and publish NuGet packages, if you wish. These aren't setup yet, but if you look in https://github.com/hedgehogqa/fsharp-hedgehog/pull/153, it has all the information you need.

[2018-02-19 14:46] cmeeren commented on #30
Thanks, I'll have a look (probably not until the end of the week).

I suppose I'll also be free to use whatever code style I'm most comfortable with?

[2018-02-19 14:51] moodmosaic commented on #30
👍

Sure, why not.

So, may we proceed with @jystic and transfer fsharp-hedgehog-experimental to your GitHub account?

[2018-02-19 14:52] moodmosaic commented on #30
(Yep, no need to decide exactly right now.)

[2018-02-23 07:09] cmeeren commented on #30
Go ahead and transfer.

Did you create a NuGet package that also needs to be transferred? Anything else?

[2018-02-23 10:59] moodmosaic commented on #30
@jystic should be able to transfer it to you (he's the owner of the org).— I haven't created a NuGet package, but feel free to make your own. It can be similar to https://github.com/hedgehogqa/fsharp-hedgehog/pull/153.

[2018-02-25 10:52] moodmosaic commented on #30
Hmm, it looks like transferring from a GitHub *Org* to a regular GitHub *username* is a bit tricky:

![image](https://user-images.githubusercontent.com/287532/36640586-891cc818-1a2a-11e8-8012-1558654c6995.png)

---

According to that message from GitHub, I must first transfer this to myself and then to @cmeeren. Let's see if this will work out. /cc @jystic

[2018-02-25 10:57] moodmosaic commented on #30
That seemed to work:

![image](https://user-images.githubusercontent.com/287532/36640606-045f518a-1a2b-11e8-9c8b-ffdd1eb71c87.png)

---

I can confirm that navigating to
https://github.com/hedgehogqa/fsharp-hedgehog-experimental/

successfully redirects to the new, temporary, location
https://github.com/moodmosaic/fsharp-hedgehog-experimental

(Also, I'm writing this comment on the new location.)

[2018-02-25 10:59] moodmosaic commented on #30
After @cmeeren accepts the transfer, we should be all set.

![image](https://user-images.githubusercontent.com/287532/36640642-afa7c018-1a2b-11e8-876e-9e9903e5915f.png)

/cc @jystic

[2018-02-25 13:29] cmeeren commented on #30
Done!

[2018-02-25 13:42] moodmosaic commented on #30
:-1:

[2018-02-25 13:42] #30 closed

[2018-02-25 13:42] moodmosaic commented on #30
:+1:

[2018-02-25 13:43] moodmosaic commented on #30
Oops, I meant  :+1:

[2018-02-25 14:18] cmeeren commented on #30
Just wondering, is there any reason not to switch from Paket to Nuget for this project? I find Nuget easier to work with in VS, and with new-style project files, dependencies are even transitive.

And another thing - when I release a nuget, should I pin the dependency on Hedgehog in any way? Does Hedgehog follow semver?

[2018-02-25 14:30] cmeeren commented on #30
And another thing: Do any of you want to be removed from the author/copyright list? (I'm asking just as a courtesy; I have no problems with how it currently is).

[2018-02-25 14:34] moodmosaic commented on #30
It should be perfectly fine to get rid of `.paket.template` and build the NuGet Package through the `dotnet` command. If you get rid of Paket, you may also get rid of `.paket.dependencies` and `.paket.reference` files.

Otherwise, you can use `dotnet` and `paket pack` as @porges did in https://github.com/hedgehogqa/fsharp-hedgehog/pull/153 for .NET Standard. IIRC, `paket pack` sets the metadata fo

[2018-02-25 14:36] cmeeren commented on #30
Thanks. I think I'll just go ahead and create a new solution/projects and copy over the old code. That'll probably be the simplest way to get things over to .NET Standard, nuget and new fsproj format.

[2018-02-25 14:36] moodmosaic commented on #30
Thank you for asking. I don't mind being included, but I think your name should go first on the [`LICENSE`](https://github.com/cmeeren/fsharp-hedgehog-experimental/blob/78c6cf5eb2143337eeb14591c3df346ed39e6537/LICENSE) file.

[2018-02-25 14:49] moodmosaic commented on #30
It does, however it's on [Major version zero (0.y.z)](https://semver.org/#spec-item-4).

You may just reference the latest version of Hedgehog. We're trying not to introduce (unnecessary) breaking changes anyway. In case we do, we should address the issue(s) there, or here.

---

We also have a Slack channel for Hedgehog, let me know if you want to be in 😃 (I can happily invite you in, using the e

[2018-02-25 15:26] cmeeren commented on #30
Sure, go ahead. :)

[2018-02-25 15:45] moodmosaic commented on #30
Done :)

[2018-02-25 20:45] #26 closed

[2018-02-26 14:35] cmeeren commented on #30
Finally published to NuGet  through AppVeyor. :) Some fiddling was necessary, but the end result (regarding CI/testing/deployment/.NET Standard) is fairly clean. Perhaps some things can be simplified in Hedgehog too.

Hedgehog.Experimental requires .NET Standard 2.0 by the way, due to some dependencies (TypeShape IIRC).

[2018-02-26 14:41] moodmosaic commented on #30
👍

[2018-02-26 18:21] cmeeren commented on #30
And now there's some brief documentation/examples in the readme, too. In short, we're ready to roll! Feel free to spread the word.

[2018-02-26 18:23] moodmosaic commented on #30
I'll do when I'm home :)

[2018-02-27 08:34] moodmosaic commented on #30
I've re retweeted your [tweet](https://twitter.com/cmeeren/status/968189957310468098) 😃 Let me know if I can do something more 😅

Once again, thank you for all the hard work you've been putting in 💯 ❤️

[2019-04-02 13:57] marklam opened #31 "GenX.auto fails on TimeSpan"
[code]

fails with the exception
[code]

[2019-04-02 16:19] cmeeren commented on #31
Seems to be a Hedgehog bug: https://github.com/hedgehogqa/fsharp-hedgehog/issues/185

[2019-06-26 09:58] marklam opened #32 "GenX.auto fails with anything involving uint64"
e.g.
[code]
Fails with
[code]

This also affects discriminated unions with uint64 cases.

[2019-06-26 10:31] cmeeren commented on #32
This is a Hedgehog bug, see https://github.com/hedgehogqa/fsharp-hedgehog/issues/185

[2019-06-26 10:32] cmeeren commented on #32
Oh wait, I mixed `int64` and `uint64`.

[2019-06-26 13:15] cmeeren commented on #32
Should be released shortly in v0.1.2.

[2019-06-26 14:45] marklam commented on #32
Doesn't seem to fix the problem. I've created a pull request with a failing test.

[2019-06-26 17:22] cmeeren commented on #32
Sorry, I was a bit too quick on the trigger. I've fixed it, but now I'm hitting upstream bug hedgehogqa/fsharp-hedgehog#185 which still need to be fixed. I've removed your unit test again so that the CI completes and I have released 0.1.3, but you can't generate any int64 stuff at all using Hedgehog until that bug is fixed.

[2019-06-26 17:22] #32 closed

[2019-07-09 14:41] moodmosaic commented on #31
Fixed in https://github.com/hedgehogqa/fsharp-hedgehog/pull/188, released as Hedgehog 0.8.3 :tada:

[2019-07-09 14:42] #31 closed

[2019-07-10 12:56] marklam commented on #32
Unfortunately, this and #31 aren't fixed for clients of hedgehog-experimental until this package is rebuilt.

This is because the scaling functions I changed in hedgehog were inline functions (for SRTP) - so any uses of the (U)Int64 generators that come from inside hedgehog-experimental still have the unfixed scaling baked-in.

[2019-07-10 13:18] cmeeren commented on #32
0.1.4 is in the pipeline, should work there.

[2019-11-01 06:49] moodmosaic opened #34 "Should we transfer this repo to hedgehogqa?"
It may help people discover it more easily! I think anyone using fsharp-hedgehog at least ought to know about this repo and its auto gen capability.

The only 'requirement' is that at least @jacobstanley and/or myself would need to have push access. But don't let that scare you, we work via pull requests all the time.

[2019-11-01 06:51] cmeeren commented on #34
Sure!

[2019-11-01 10:11] moodmosaic commented on #34
:heart_eyes: — Great, let us know if you need any help.

[2019-11-01 17:19] cmeeren commented on #34
I get this error:

[2019-11-03 22:23] jacobstanley commented on #34
I've added you as an @hedgehogqa member so you should be able to transfer now

[2019-11-04 09:52] cmeeren commented on #34
Done! (May take a few minutes to complete.)

[2019-11-04 09:52] #34 closed

[2019-11-04 16:57] moodmosaic commented on #34
Welcome on board, @cmeeren :confetti_ball: :cocktail:

[2020-01-31 08:43] moodmosaic opened #35 "Use new Hedgehog logo in NuGet package"
@cmeeren, do you think it'd be possible to use [the new Hedgehog logo](https://raw.githubusercontent.com/hedgehogqa/fsharp-hedgehog/master/img/hedgehog-logo.png) also in the Hedgehog.Experimental NuGet package?

![image](https://user-images.githubusercontent.com/287532/73524693-f1c98180-440d-11ea-8596-ee8e622b12dc.png)

[2020-01-31 08:45] cmeeren commented on #35
Sure! Would you be able to create a PR to update the files [here](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/tree/master/img)?

[2020-01-31 08:46] cmeeren commented on #35
In case it's relevant, it's referenced here:

https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/7ce6d6b2c8e294d78c2da7ab735086064dd2e2a8/src/Hedgehog.Experimental/Hedgehog.Experimental.fsproj#L11

[2020-01-31 09:38] moodmosaic commented on #35
Hmm... We actually never updated those files. Instead we've added a new one called `hedgehog-logo.png` as you can see in https://github.com/hedgehogqa/fsharp-hedgehog/tree/master/img

If I go and upload that new file under `/img` and modify the `.fsproj` you'd have to make a new NuGet release in order to pick up the new image, I guess.

The other option would be to overwrite `SQUARE_hedgehog_300x3

[2020-01-31 09:58] cmeeren commented on #35
Could you make a 300x300 version so the existing/old nuget packages get the correct logo, and additionally upload the new file under `/img` and modify the `.fsproj` as you suggest?

[2020-01-31 10:59] moodmosaic commented on #35
I can ask for it, yes, but that may take a while.

---

In the meantime, we can replace the image in `SQUARE_hedgehog_300x300.png` if that's OK for you?

[2020-01-31 11:03] cmeeren commented on #35
Yes, that's exactly what I asked (in addition to your previous suggestion of uploading the new file and modify the `.fsproj`). I'm confused - what exactly did you mean could take a while?

[2020-01-31 11:19] moodmosaic commented on #35
Oh, I mean that I'd have to get @jacobstanley to ask Jessica Stanley to resize the image as she made the new logo. Unless you're good at Photoshop and know how to do it.

PR #36 should be OK for now, though.

[2020-01-31 13:23] cmeeren commented on #35
Thanks! If you google "resize images" you find a plethora of free, online services for resizing/cropping images. :)

[2020-01-31 13:27] moodmosaic commented on #35
Obviously, everyone's aware of that :smiley: The issue with most of those converters is that they also do a non-optimal resampling, most of the times, or some others even won't keep the transparency at all. YMMV, though.

[2020-01-31 13:27] #35 closed

[2020-07-02 14:13] bender2k14 opened #37 "Limit recursion depth based on size/range instead of configuration value"
PR #21 added a configuration value called `RecursionDepth` to prevent stack overflows when generating a recursive type (c.f. https://github.com/hedgehogqa/fsharp-hedgehog-experimental/issues/19#issuecomment-359886908).

[FsCheck solves this problem](https://fscheck.github.io/FsCheck/TestData.html#main:~:text=However%2C%20a%20recursive%20generator%20like%20this,always%20use%20the%20size%20control%2

[2020-07-02 14:35] cmeeren commented on #37
I have no idea; @moodmosaic?

[2020-07-02 21:11] moodmosaic commented on #37
The _sized_ approach of FsCheck is more elegant since you can use the size parameter via `Gen.sized` to control the depth (instead of introducing another variable).

[2020-07-02 21:19] moodmosaic commented on #37
Some thoughts around the `size`, in general: https://github.com/hedgehogqa/haskell-hedgehog/issues/38#issuecomment-293458877

[2020-07-02 21:21] bender2k14 commented on #37
That is what I expected.

@cmeeren, how do you feel about removing `RecursionDepth` and instead bounding recursive generation with the size parameter?

I am interested to implement this simply because I think it might be a good challenge for me.

[2020-07-02 21:25] bender2k14 commented on #37
Yes, I really like the `Range` concept.  I think it is very clear...after @cmeeren first explained to me in https://github.com/elmish/Elmish.WPF/pull/240#issuecomment-651989014 and then especially after watching the video @moodmosaic linked to in https://github.com/hedgehogqa/fsharp-hedgehog/issues/182#issuecomment-466997307.

[2020-07-03 06:44] cmeeren commented on #37
I'm happy to use `size` to control the recursion depth, but perhaps we should have a `MaxRecursionDepth` so that users can ensure it doesn't recurse that much (too much recursion in auto-generation can substantially increase the test run time). What do you think?

[2020-07-03 09:04] moodmosaic commented on #37
They’ll have that control through the size... What happens when `size > MaxRecursionDepth`?

[2020-07-03 09:08] cmeeren commented on #37
How so? Isn't `size` automatically incremented from 0 to 99 or something like that based on the test that is run?

[2020-07-03 09:56] moodmosaic commented on #37
Yes, but you can interpret it (in this case) any way you want, e.g. halve it on each recursion (as FsCheck mentions in the docs).

[2020-07-03 11:09] cmeeren commented on #37
Ok. (For reference, [here's the mentioned docs](https://fscheck.github.io/FsCheck/TestData.html#Generating-recursive-data-types).)

I won't be able to work on this, but I'm more than happy to take a PR that makes sure that auto-generating recursive types aren't unnecessarily slow, and gives the user some kind of control over the recursion depth. The readme should have an example of how to control

[2020-07-27 12:47] cmeeren opened #38 "AppVeyor missing access to hedgehogqa org"
@moodmosaic CI is not building. I think it's because AppVeyor doesn't have access to the hedgehogqa org. I have sent a request for access.

[2020-07-27 13:15] moodmosaic commented on #38
I haven't signed-in on AppVeyor for the last month or so, but from what I see right now, also *fsharp-hedgehog* isn't listed there. For *fsharp-hedgehog* though we recently [switched to GitHub Actions](https://github.com/hedgehogqa/fsharp-hedgehog/pull/212/files) but *without* having to explicitly opt-out from AppVeyor.

![image](https://user-images.githubusercontent.com/287532/88545226-fa94bc00-d

[2020-07-27 13:17] moodmosaic commented on #38
I can investigate this, however, do you also consider switching to GitHub Actions? (I don't see any request for access on AppVeyor.)

[2020-07-27 16:34] cmeeren commented on #38
I'm open to GH actions, but I have never used it and can't find a way to keep the same behaviour (push to NuGet when tagged).

The request is pending, so someone should see something, but I have no idea who or where.

![image](https://user-images.githubusercontent.com/7766733/88567382-b237c700-d037-11ea-8096-69e0a81c161d.png)

[2020-07-27 16:41] moodmosaic commented on #38
@jacobstanley can you check if there's an email?

[2020-07-27 21:44] cmeeren commented on #38
I'm trying to set up GitHub actions now, but I can't access the repo settings to add the NuGet API key. Can you give me full access to this repo?

[2020-07-28 03:12] moodmosaic commented on #38
Both AppVeyor and GitHub Action settings should be set now. Can you check?

[2020-07-28 12:13] cmeeren commented on #38
AppVeyor still says "Access request pending", but I have successfully managed to publish a package using GitHub actions.

[2020-07-28 12:14] #38 closed

[2020-07-28 12:31] moodmosaic commented on #38
Great! So there's no need for AppVeyor, then, right?

[2020-07-28 12:48] cmeeren commented on #38
Correct.

[2020-10-14 11:14] ShalokShalom opened #39 "Website - Old website link"
Hi - since I found no repo for the homepage, I will just post this here, in my favorite repo ;)

That link here directs to the old homepage, I imagine this is accidental?

https://hedgehog.qa/
![Screenshot_2020-10-14-13-10-49-90](https://user-images.githubusercontent.com/6344099/95981605-30c62880-0e1f-11eb-9334-597842e23a4e.jpg)

[2020-10-14 11:24] moodmosaic commented on #39
I think the homepage is fine since this repo is part of the core hedgehog org.

[2020-10-14 12:11] ShalokShalom commented on #39
How you mean?

[2020-10-14 12:11] cmeeren commented on #39
Sorry, I'm confused. Where does this issue belong? Should it be closed? Who should do what?

[2020-10-14 16:06] moodmosaic commented on #39
I mean that this repo *can* link to https://hedgehog.qa since it's *part* of Hedgehog.

[2020-10-14 20:02] ShalokShalom commented on #39
Click on the marked spot on the homepage.
It takes you to an older version, I guess the URL behind that button is outdated.

[2020-10-14 20:24] cmeeren commented on #39
@moodmosaic This isn't about this repo, it's about a bug on the homepage.

[2020-10-14 20:58] moodmosaic commented on #39
I've no idea, @jacobstanley should know as he's the one maintaining the website.

[2020-10-14 20:59] moodmosaic commented on #39
Thanks for pointing that out though, @ShalokShalom :+1:

[2020-10-15 06:29] cmeeren commented on #39
Closing this and unsubscribing myself since it's not related to this repo, but feel free to continue the discussion.

[2020-10-15 06:29] #39 closed

[2020-10-15 12:37] ShalokShalom commented on #39
Is the homepage open source? I would have contributed there, if there would be any mention anywhere about that

*shrug*

[2020-10-15 13:35] moodmosaic commented on #39
@ShalokShalom, the website source code isn't on GitHub, but @jacobstanley should fix that link sooner or later. :+1:

[2020-12-09 01:43] dharmaturtle commented on #19
I'm interested in this feature. In my case, attempting to `auto` [NodaTime's Instant](https://nodatime.org/3.0.x/api/NodaTime.Instant.html) yields "System.Exception: Class NodaTime.Instant lacking an appropriate ctor". Since my application uses `Instant` liberally (it's analogous to System.DateTime or System.DateTimeOffset), creating handcrafted generators for each type is annoying.

Of the 5 opti

[2020-12-09 07:06] cmeeren commented on #19
How does reflection enter into the picture?

---

@moodmosaic I don't see any important downsides to the dictionary approach. Could you elaborate, if you still hold this position? The only "downside" I can see is that the user, when using `auto`, has no guarantees about the contents of the config (specifically the custom generator map), and therefore isn't guaranteed that their custom configs are

[2020-12-09 07:37] moodmosaic commented on #19
I can't remember (it's been ~3 years) but it seems strange to me right now why I excluded the dictionary approach.

(I could understand that excluding the typeclass emulation sounds reasonable.)

I'd just go with the dictionary approach now.

[2020-12-11 13:29] moodmosaic commented on #19
Yep. (Though I think we ought to provide out-of-the-box primitive generators.)

[2020-12-11 13:38] TysonMN commented on #19
Agree.  I just think it is interesting to see the connection.

[2020-12-11 13:52] moodmosaic commented on #19
So in this case the user would pass the generator for that type through the dictionary.

[2020-12-11 15:31] cmeeren commented on #19
I hope to have implemented this feature during the weekend. I will make a PR so you can have a look at it.

Also I think I'll wait with releasing a new version until https://github.com/hedgehogqa/fsharp-hedgehog/issues/249 is fixed, so I can include changes that depend on that, too.

[2020-12-11 21:28] cmeeren opened #44 "Must AutoGenConfig be a struct?"
In commit b52c847a, I added `[<CLIMutable>]` and `[<Struct>]` to `AutoGenConfig`, with the motivation to make it easier to use from C#. I can understand how `CLIMutable` achieves that goal, but I can't figure out why `Struct` should make it easier.

Furthermore, since `AutoGenConfig` has so many fields, having it be a `Struct` seems like it could be bad for performance (I have not measured).

Coul

[2020-12-14 14:30] cmeeren commented on #44
@moodmosaic @TysonMN any input on this?

[2020-12-14 14:33] #19 closed

[2020-12-14 14:46] TysonMN commented on #44
I haven't done much C#/F# interop.  Sorry.

[2020-12-14 14:48] moodmosaic commented on #44
IIRC, structs are allocated on thread-stack rather than the (managed) heap. I don't think we have to care about this upfront, so I'd rather remove that attribute. I would also remove the CLIMutable one, unless there's a reported issue.

IIRC, the CLIMutable adds (among others?) a default parameterless consturctor, making it friendlier to various (de)serializers.

[2020-12-14 14:59] cmeeren commented on #44
AFAIK CLIMutable is nice for C# interop. Without it, a record has (in C#) a constructor that requires all parameters, and the parameters are read-only. With the attribute, one can set the record members after-the-fact as well as use object initialization syntax when creating it.

That said, I'm not using C#, so I'll leave the decision to you, @moodmosaic. If you still think it's better to remove C

[2020-12-14 15:05] TysonMN commented on #44
[C# 9 adds an `init` functionality to properties](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-9#init-only-setters) that handle this case well.

[2020-12-14 15:11] cmeeren commented on #44
Yep, but the page doesn't say anything about whether it's supported for F# records.

[2020-12-14 15:14] moodmosaic commented on #44
Unless there's a C# project inside the repo/solution that breaks without those attributes, or there's a reported issue asking to add any of them, to me it's just dead-code and I'd simply take them out...

[2020-12-14 17:02] moodmosaic commented on #44
Alright, I looked into it as I was curious and it turns out that in order to do this in C#
[code]

You *either* want CliMutable or Struct; not both as the underlying IL shows:

[code]

[code]

I can't find a reason where we'd want to declare this as a Value Type allocated in managed heap (Struct) so I would leave CliMutable as-is but I would remove Struct, that is:

[code]

[2020-12-14 17:16] #44 closed

[2021-07-13 03:54] AlexeyRaga opened #49 "Support immutable collections"
I am using collections from `System.Collections.Immutable` (`ImmutableDictionary` in my case) and am getting the following exception:

[code]

which points to [here](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/master/src/Hedgehog.Experimental/Gen.fs#L400)

Since immutable collections are part of BCL, it would be beneficial to support them.
Would it be possible to do?

[2021-07-13 05:36] cmeeren commented on #49
Thanks for your feedback!

I don't think the library should necessarily support all types or collections (immutable or otherwise) in the BCL. In my experience, they are still rarely used in F# development. I'm considering whether I would accept a PR to add built-in support for this type, but I'm hesitant, because why stop there? There are thousands of BCL types, and the line needs to be drawn some

[2021-07-15 11:44] AlexeyRaga commented on #49
I thought (maybe incorrectly) that auto generators are supported via reflection, not by actually implementing these thousands of BCL types. Under this assumption I (perhaps mistakenly) thought that immutable collections are not supported just because their reflection pattern is slightly different. So supporting them would mean supporting one more pattern, which would include many more types.

Well

[2021-07-15 11:44] #49 closed

[2021-07-15 11:50] cmeeren commented on #49
There is some reflection to it; as I understand it, it [should be able to generate anything with a public constructor](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/master/src/Hedgehog.Experimental/Gen.fs#L515-L533). `ImmutableDictionary` does not have public constructors; only static `Create` methods. That's why it isn't supported. :)

[2021-08-31 06:58] AlexeyRaga opened #52 "Does Hedgehog return an incorrect value on failure?"
I am running a test with a simple condition:

[code]

I see in debug that it fails properly and the value is shrunk properly to the failure case of a single `a` character (see the screenshot)

![image](https://user-images.githubusercontent.com/1394391/131456018-79a9ad8a-42a4-4b29-ac3f-e74492d61268.png)

I also see in debug that this is the last shrink, i.e. the test is not getting called anymore.

[2021-09-03 01:41] TysonMN opened #50 "Support for Array.Rank greater than 1"
Why isn't there support when [`Array.Rank`](https://docs.microsoft.com/en-us/dotnet/api/system.array.rank) is greater than `1`?  Is there some fundamental technical difficulty or is it just that sufficient time/effort was never spent to implement that case?

https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/439159cd7cbf99b793bae3eac59dd02a9192d7a8/src/Hedgehog.Experimental/Gen.fs#L42

[2021-09-03 05:39] cmeeren commented on #50
The `auto` code originally came from elsewhere, so I'm not sure, but at least from my perspective, this is correct. Feel free to create a PR with this functionality!

[2021-09-03 06:44] moodmosaic commented on #52
Done

[2021-09-05 04:11] TysonMN commented on #52
I thought I linked this issue to PR #51 but clearly not since it is still open.

This issue should be closed.

[2021-09-05 08:19] #52 closed

[2021-09-06 11:44] AlexeyRaga commented on #52
@TysonMN thanks a lot for fixing it so quickly!!

[2021-09-06 11:58] TysonMN commented on #52
My pleasure. Thanks for the initial report and helping me by answering my questions.

[2021-09-07 05:23] #50 closed

[2021-09-23 00:27] AlexeyRaga opened #59 "Adding useful types to AutoGenConfig"
Similarly to [what FSCheck is doing](https://github.com/fscheck/FsCheck/blob/633c064ca96337a3689559b56ae8cb93cf1d7589/src/FsCheck/Arbitrary.fs)

Can we consider adding types like:

`NegativeInt`
`NonNegativeInt`
`PositiveInt`
`NonZeroInt`
`NormalFloat`
`NonEmptyString`
`StringNoNulls`
`NonWhiteSpaceString`
`XmlEncodedString`
`UnicodeChar`
`UnicodeString`
`Interval`
`IntWithMinMax`
`NonEmptySet`
`N

[2021-09-23 00:31] AlexeyRaga opened #60 ".NET `List<T>` isn't generated properly"
Using `HH` from `C#` and this problem arises:

[code]

Then running this test fails with this exception:

[code]

Perhaps a bug in a `List` generator?

[2021-09-23 06:19] cmeeren commented on #60
I have never used Hedgehog from C#. I have no idea if Hedgehog.Experimental even is compatible with it. Are you sure this is related to Hedgehog.Experimental, and not Hedgehog itself?

[2021-09-23 06:21] cmeeren commented on #59
Based on #60, I assume you're using Hedgehog from C#. I don't know how that works. The following is from an F# perspective. In any case, this repo will likely soon be [merged into the main Hedgehog repo](https://github.com/hedgehogqa/fsharp-hedgehog/issues/182#issuecomment-924984787). I'll leave this decision for them.

---

Why not just add generators like `Gen.negativeInt`, `Gen.nonNegativeInt`

[2021-09-23 09:47] TysonMN commented on #60
Can you share a repository that contains a reproduction of this bug?

[2021-09-24 06:12] AlexeyRaga commented on #59
No, it was F# this time ;)
But I am using it with `Hedgehog.XUnit`, where you kind of don't control generators directly too...

I'd say that in `FSCheck` they are even more controllable/plugable because you can specify multiple of them in `[<Property>]` attribute:

[code]

so FSCheck can go "a la card", while in HH we'd gave to come up with a config type that adds all the necessary generators to t

[2021-09-24 06:24] AlexeyRaga commented on #60
@TysonMN  Sure, it is just this:

[code]

but I have updated https://github.com/AlexeyRaga/FSharp.Hedgehog.Bugs

[2021-09-24 10:18] TysonMN commented on #59
I thought so.

Can you create an issue about this in the GutHub repository for `Hedgehog.XUnit`?

[2021-09-24 11:11] TysonMN commented on #60
As I thought, this reproduction depends on `Hedgehog.XUnit`.

Can someone move this issue to that repository?

@dharmaturtle, can you release a new version of `Hedgehog.XUnit` with updated dependencies?

Then @AlexeyRaga can check if the bug still exists.

[2021-09-24 12:08] cmeeren commented on #60
I do not have access to transfer the issue. Someone else will need to do it, probably @dharmaturtle.

[2021-09-25 01:03] dharmaturtle commented on #60
I currently believe this issue belongs in the Experimental repo.

#61 attempts to resolve this bug.

For future issues, ["You can only transfer issues between repositories owned by the same user or organization account."](https://docs.github.com/en/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository) So unless Hedgehog.Xunit joins the Hedgehog org, we won't be able to

[2021-09-25 22:23] dharmaturtle commented on #59
`+1` to what cmeeren said:

(Also feel free to unsubscribe from this thread cmeeren!)

Hedgehog.Xunit pretty much forces you to separate the construction of test generators from the normal test code. My personal project's [Hedgehog.fs file](https://github.com/dharmaturtle/CardOverflow/blob/develop/CardOverflow.Test/Hedgehog.fs) builds up all my domain objects and makes heavy usage of the default c

[2022-04-02 16:12] TysonMN opened #64 "False error in GitHub Action execution"
[This build](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/actions/runs/2068001899) said it had an error, but the NuGet package was [successfully published](https://www.nuget.org/packages/Hedgehog.Experimental/0.6.0) anyway.

@dharmaturtle, can you links/information you found about this issue?

[2022-04-03 13:08] dharmaturtle commented on #64
Ah yeah, got distracted :D

That build failed because we bumped the dotnet version to `6.0.201`. This is a known [issue](https://github.com/NuGet/Home/issues/11601). I see 3 possible solutions:

1) We can either go back to a prior version, e.g. `6.0.102`. I'm not a fan of this because this is ["by design"](https://github.com/NuGet/Home/issues/11601#issuecomment-1054883488), and we'll have to fix t

[2022-07-12 13:32] #59 closed

[2022-07-12 13:34] AlexeyRaga opened #65 "Add support to Nullable<T>"
Do you think that support for `Nullable<'T>` can be added, similarly to how `Option<'T>` is now supported?
It is useful for property-testing with types that are defined in C#.

[2022-07-13 10:38] TysonMN commented on #65
Yes, this is a good idea.

Can you contribute a PR for it?

[2022-07-14 05:50] AlexeyRaga commented on #65
Challenge accepted! :)
Please have a look at PR #66

[2022-07-14 14:15] #65 closed

[2022-07-14 14:29] TysonMN opened #68 "Failed build for merge commit"
@dharmaturtle, why did [this build for a merge commit](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/actions/runs/2670932502) fail?

[2022-07-14 20:13] TysonMN commented on #64
From April 3:

From [May 5](https://github.com/brandedoutcast/publish-nuget/issues/76#issuecomment-1118344860):

I made that switch in the commit referenced in GitHub before this commit.

[2022-07-14 23:38] AlexeyRaga commented on #65
@TysonMN can we have a Nuget release with this fix?

[2022-07-15 00:06] dharmaturtle commented on #65
Genuine, unassuming question: do we want to wait for https://github.com/hedgehogqa/fsharp-hedgehog-experimental/pull/67 or is this time sensitive?

[2022-07-15 00:36] AlexeyRaga commented on #65
Would be nice to have it if possible, yes. It is also unrelated to #67, so we can make another release after.
But if you prefer to wait until #67 is settled then it should also be fine, I'm trying to get through it asap.

[2022-07-15 02:24] AlexeyRaga opened #69 "Split the library?"
It looks like the library consists of two parts:

1. A set of useful extensions for `Hedgehog`. These are all these `sorted`, `noNull`, `shuffle`, `uri` generators and operations on them
2. The auto-generating part (heavy reflection, `AutoGenConfig`, `GenX.auto`, etc.)

These parts do not seem to depend on each other.

The questions are:

- Should we create another library for useful `Gen`/`Range`

[2022-07-15 02:33] TysonMN commented on #65
I was planning on releasing after PR #67 is complete.

[2022-07-15 02:44] TysonMN commented on #69
This has been discussed over the years in https://github.com/hedgehogqa/fsharp-hedgehog/issues/182.  One big change since the last comment on that issue is that I am now the lead maintainer of both projects.

My preference is to merge F# Hedgehog Experimental into F# Hedgehog.

Would you like to contribute a PR for that?

[2022-07-15 12:48] AlexeyRaga commented on #69
Maybe. I will see if I can make time for it, but I cannot promise.
Let's see what I can do.

[2022-07-17 16:07] TysonMN commented on #65
First included in [version 0.6.1](https://www.nuget.org/packages/Hedgehog.Experimental/0.6.1)

[2022-07-17 20:58] cmeeren opened #70 "Update NuGet API key"
It has been a while since I have been a maintainer of this package, but I just noticed that NuGet publishes are still done in my name, presumably because it's using my API key:

<img width="691" alt="image" src="https://user-images.githubusercontent.com/7766733/179424413-2fac5003-352b-40c4-9fd7-bbca9f8c42c2.png">

@TysonMN, I understand you to be the current primary maintainer of this package. I h

[2022-07-18 02:35] AlexeyRaga opened #71 "A bug when handling inheritance with `new` members"
Hi, I have found one of the edge cases in which `GenX` fails to generate a correct instance, as well as the possible solution to the issue.

### Problem

Assuming that we have a hierarchy of two types:

[code]

Notice that `B` has a property with the same name as `A`, but "hides" the base property with the `new` keyword.

Now, when we ask `GenX.auto<B>` then it generates an incorrect instance beca

[2022-07-18 03:25] TysonMN commented on #71
Great work presenting a minimal example of this issue.  Yes, please do make a PR with your implementation.  I will also try to find a better fix.  In your PR, please add a failing test in one commit and put your fix in a second commit.

[2022-07-18 03:57] AlexeyRaga commented on #71
Yes, will do.
I now think that probably a more "gold plated" solution from the same category would be to sort properties according to their hierarchy depth...  But if you find a better way then it'd be awesome.

[2022-07-18 04:08] AlexeyRaga commented on #71
@TysonMN the PR is up.

[2022-07-18 13:57] TysonMN commented on #70
I am now a (co) owner the NuGet package, and this repo is now using my API key.

Thanks @cmeeren :)

[2022-07-18 13:57] #70 closed

[2022-07-18 18:29] cmeeren commented on #70
Thanks! I have now removed myself as an owner of the package.

[2022-07-23 05:09] TysonMN commented on #71
Resolved by #72

[2022-07-23 05:09] #71 closed

[2022-07-23 05:22] TysonMN commented on #71
First included in [version 0.7.0](https://www.nuget.org/packages/Hedgehog.Experimental/0.7.0)

[2022-08-08 19:11] moodmosaic commented on #69
Hmm... If the merge happens, Hedgehog will take an [extra dependency, TypeShape](https://github.com/hedgehogqa/fsharp-hedgehog-experimental/blob/6d8719aaa6568c51478a39e2ad76afbcd43d5b8e/src/Hedgehog.Experimental/Hedgehog.Experimental.fsproj#L34). Just one more thing to consider.